.flex{
  display:flex;
  justify-content:center;
  align-content:flex-start;
  align-items:center;
  height:200px;
  flex-flow:column nowrap;
}
.flex-inline{
  display:inline-flex;
  
}
#btn{
  margin-left:10px;
}
.container{
  align-items:flex-start;
}
.del{

text-decoration: line-through;
}

