.flex{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  height:625px;
  flex-flow:column wrap;
  width: 100%;
}
.flex-inline{
  display:inline-flex;
  
}
#btn{
	width: 70px;
    height: 35px;
    font-size: 20px;
    border-radius: 100px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 15px;
    background-color: #f6546a;
    margin-left:10px;
    cursor: pointer;
}

.container{
  align-items:center;
}
.del{
text-decoration: line-through;
}
li{
	font-size: 16px;
	font-family: 'Rubik Mono One', sans-serif;
	padding-bottom: 5px;

}
h1{
	font-family: 'Rubik Mono One', sans-serif;
	text-align: center;

}
#list {
	padding-left: 20px;
	width:290px;
}
#submit{
	font-size: 16px;
	font-family: 'Rubik Mono One', sans-serif;
	border: 1px #9c7b7b solid;
    width: 219px;
}